{% extends "mainapp/base/base_public.html" %}

{% block title %}Discuss - Nutriosity{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		var initialText = "Write your answer here";

		// var answers_data = {{ answers_data | safe }};

		{% if my_is_expert_flag %}

		function CleanPastedHTML(input) {
			// 1. remove line breaks / Mso classes
			var stringStripper = /(\n|\r| class=(")?Mso[a-zA-Z]+(")?)/g;
			var output = input.replace(stringStripper, ' ');
			// 2. strip Word generated HTML comments
			var commentSripper = new RegExp('<!--(.*?)-->','g');
			var output = output.replace(commentSripper, '');
			var tagStripper = new RegExp('<(/)*(meta|link|span|\\?xml:|st1:|o:|font)(.*?)>','gi');
			// 3. remove tags leave content if any
			output = output.replace(tagStripper, '');
			// 4. Remove everything in between and including tags '<style(.)style(.)>'
			var badTags = ['style', 'script','applet','embed','noframes','noscript'];

			for (var i=0; i< badTags.length; i++) {
			tagStripper = new RegExp('<'+badTags[i]+'.*?'+badTags[i]+'(.*?)>', 'gi');
			output = output.replace(tagStripper, '');
			}
			// 5. remove attributes ' style="..."'
			var badAttributes = ['style', 'start'];
			for (var i=0; i< badAttributes.length; i++) {
			var attributeStripper = new RegExp(' ' + badAttributes[i] + '="(.*?)"','gi');
			output = output.replace(attributeStripper, '');
			}
			return output;
		}

		$(document).ready(function() {
				$('#summernote').summernote({
					height: 250,
				minHeight: 250,             // set minimum height of editor
  				maxHeight: 700,             // set maximum height of editor
  				onfocus: function(e) {
					if($('#summernote').code() == initialText) {
						$('#summernote').code('');
					}
					else {

					}
				},
				onblur: function(e) {
					if($.trim($('#summernote').code()) == "") {
						$('#summernote').code(initialText);
					}
					else {
						
					}
				},
				onChange: function(contents, $editable)
				{
					$('.summernote-wrapper').removeClass('error-text-field');
				},
				onpaste: function(e) {
					 var thisNote = $(this);
					var updatePastedText = function(someNote){
					    var original = someNote.code();
					    var cleaned = CleanPastedHTML(original); //this is where to call whatever clean function you want. I have mine in a different file, called CleanPastedHTML.
					    someNote.code('').html(cleaned); //this sets the displayed content editor to the cleaned pasted code.
					};
					setTimeout(function () {
					    //this kinda sucks, but if you don't do a setTimeout, 
					    //the function is called before the text is really pasted.
					    updatePastedText(thisNote);
					}, 10);
				},
				toolbar: [
				    ['style', ['bold', 'italic', 'underline', 'clear']],
				    // ['fontsize', ['fontsize']],
				    // ['color', ['color']],
				    ['para', ['ul', 'ol']],
				    ['insert', ['picture','link']]
				  ],
				});
		});

		$('.answer-preview').click(function() {
			$('.answer-question-container').show();
			$(this).hide();
		});

		$('.cancel-button').click(function() {
			$('.answer-question-container').hide();
			$('.answer-preview').show();
		});

		$('.submit-answer-button').click(function() {
			var answerHTML = $.trim($('#summernote').code());

			var error_flag = false;

			if(answerHTML == initialText || answerHTML == "") {
				error_flag = true;
				$('.summernote-wrapper').addClass('error-text-field');
				$('.answer-question-box > .error-text').html("Please enter an answer!").show();
			}

			if(!error_flag) {
				var data = {
					'question_pk' : {{ question.pk }},
					'answer_text' : answerHTML
				};

				HELPER.post("/api/answer_question/", data, function(data) {
					/* Success */

					var returnData = JSON.parse(data);

					if(returnData.status == 1) { // Success
						location.reload(); // Refresh the page
					}
					else { // Failure
						if(returnData.error == 0) { // Not logged in
							
						}
						else if(returnData.error == 1) { // Not an expert

						}
						else if(returnData.error == 2) { // Nonexistent question

						}
						else if(returnData.error == 3) { // Invalid answer

						}
					}

				}, function(data) {
					/* Failure */


				});
			}
		});

		{% endif %}

		$('.join-discussion').click(function() {
			var answer_box = $(this).parents('.answer-box');

			if(answer_box.find('.discussion-box').is(':visible')) {
				console.log('visible');
				answer_box.find('.discussion-box').fadeOut();
				answer_box.find('.join-discussion-text').text("Show Discussion");
				answer_box.find('.join-discussion > .up').hide();
				answer_box.find('.join-discussion > .down').show();

				
			}
			else{
				console.log('not visible');
				answer_box.find('.discussion-box').fadeIn();
				answer_box.find('.join-discussion-text').text("Hide Discussion");
				answer_box.find('.join-discussion > .down').hide();
				answer_box.find('.join-discussion > .up').show();

				$('html, body').animate({
			        scrollTop: $(this).parents('.answer-box').find('.discussion-box').offset().top
			    }, 1000);
			}
		});

		$('.star-box').click(function() {
			{% if user.is_authenticated %}
			if($(this).hasClass('upvoted')) {
				// Unstar
				var data = {
					'answer_pk' : $(this).data('pk'),
					'user_pk' : {{ my_user_profile_pk }}
				};

				/* Get reference to star_box */
				var star_box = $(this);

				HELPER.post("/api/unstar_answer/", data, function(data) {
					/* Success */

					var returnData = JSON.parse(data);

					if(returnData.status == 1) { // Success
						// Ajax
						star_box.removeClass('upvoted');
						star_box.find('.star-count').text(returnData.num_stars);
					}
					else { // Failure
						if(returnData.error == 0) { // Not logged in
							
						}
						else if(returnData.error == 1) { // User doesn't exist

						}
						else if(returnData.error == 2) { // Nonexistent question

						}
						else if(returnData.error == 3) { // User never starred

						}
					}

				}, function(data) {
					/* Failure */
				});
			}
			else {
				// Star
				var data = {
					'answer_pk' : $(this).data('pk'),
					'user_pk' : {{ my_user_profile_pk }}
				};
				
				var star_box = $(this);

				HELPER.post("/api/star_answer/", data, function(data) {
					/* Success */

					var returnData = JSON.parse(data);

					if(returnData.status == 1) { // Success
						// Ajax
						star_box.addClass('upvoted');
						star_box.find('.star-count').text(returnData.num_stars);
					}
					else { // Failure
						if(returnData.error == 0) { // Not logged in
							
						}
						else if(returnData.error == 1) { // User doesn't exist

						}
						else if(returnData.error == 2) { // Nonexistent question

						}
						else if(returnData.error == 3) { // User already starred

						}
					}

				}, function(data) {
					/* Failure */
				});
			}
			{% else %}
			$('.login-lightbox').show();
			$('.shadow-overlay').show();
			$('body').addClass('noscroll');	
			{% endif %}
		});	
		
		$('.comment-button').click(function() {
			var answer_pk = $(this).parents('.discussion-box').data('pk');
			var text = $(this).parents('.comment-right-panel').find('.comment-text-field').val();

			var data = {
				answer_pk: answer_pk,
				text: text
			};

			var comment_panel = $(this).parents('.comment-panel');

			HELPER.post("/api/comment/", data, function(data) {
				/* Success */
				var returnData = JSON.parse(data);

				if(returnData.status == 1) { // Success

					/* Clear text field */
					comment_panel.find('.comment-text-field').val("");

					/* Ajax */
					var comment_item = '<div class="comment-item"> \
							<div class="comment-left-panel"> \
								<img align="left" src="/static/mainapp/images/profile_pictures/'+returnData.file_path+'"> \
							</div><div class="comment-right-panel"> \
								<span class="commenter-full-name">'+returnData.first_name + ' ' + returnData.last_name+'</span> \
								<span class="commenter-comment-text">'+returnData.comment_text+'</span> \
								</div> \
						</div>';

					comment_panel.find('.comment-item').last().before(comment_item);


				}
				else { // Failure
					if(returnData.error == 0) { // Not logged in
						
					}
					else if(returnData.error == 1) { // No user

					}
					else if(returnData.error == 2) { // Nonexistent answer

					}
				}

			}, function(data) {
				/* Failure */


			});

		});

		$('#app-back-button').click(function() {
			window.history.back();
		});

		$('.expert-profile-box').click(function() {
			window.location.href = $(this).attr('href');
		});
	</script>
{% endblock %}

{% block content %}
	<div id="app-back-bar" style="display: block;">
		<div id="app-back-button">
			{% load staticfiles %}
			<img src="{% static 'mainapp/images/gray-back-arrow.png' %}">
			Back<!--  to <span class="app-back-to-page bold">Experts</span> -->
		</div>
	</div>
	{% if question_exists %}
	<div class="discussion-item-container">
		<div class="question-content-box">
			<div class="question-text">{{ question.text | safe }}</div>
			<div class="question-details">{% autoescape off %}{{ question.details }}{% endautoescape %}</div>
			<div class="asked-by-user">
				Asked by <a class="asked-by-user-name" href="/profile/{{ question.asked_by_user.pk }}">{{ question.asked_by_user.user.first_name }} {{ question.asked_by_user.user.last_name }}</a>
			</div>
		</div>

		{% if my_is_expert_flag %}
		
		<!-- include libries(jQuery, bootstrap, fontawesome) -->
		<script src="//code.jquery.com/jquery-1.9.1.min.js"></script> 
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"> 
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script> 
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

		<!-- include summernote css/js-->
		<link href="{% static 'mainapp/js/summernote-master/dist/summernote.css' %}" rel="stylesheet">
		<script src="{% static 'mainapp/js/summernote-master/dist/summernote.min.js' %}"></script>


		<div class="answer-container">
			<div class="answer-preview">
				<div class="preview-text">Write an answer and provide your expertise on the topic!</div>
			</div>
			<div class="answer-question-container" style="display:none;">
				<div class="expert-profile-box" style="min-height: 110px;">
					<div class="expert-top-profile">
						<div class="expert-image-wrapper"><img src="{% static 'mainapp/images/profile_pictures/' %}{{ my_user_profile.expert_profile.image_path }}"></div><div class="expert-right-info">
							<span class="expert-name">{{ my_user_profile.user.first_name }} {{ my_user_profile.user.last_name }}</span>
							<span class="expert-accreditation">{{my_accreditations}}</span>
							<img src="{% static 'mainapp/images/expert_badge.png' %}">
						</div>
					</div>
					<!-- <div class="expert-description">
						<span class="position">{{ my_user_profile.expert_profile.title }} - {{ my_user_profile.expert_profile.organization }}</span>
						<span class="organization"></span>
					</div>
					<div class="go-to-profile">
						<span class="go-to-profile-text">Profile</span>
						<img class="right-arrow-button" src="{% static 'mainapp/images/right-more-arrow.png' %}">
					</div> -->
				</div><div class="answer-question-box">
						<div class="summernote-wrapper">
							<div id="summernote">Write your answer here</div>
						</div>
						<span class="error-text" style="display:none;">Please enter an answer!</span>
						<button class="large-submit-button submit-answer-button">Answer</button>
						<a class="cancel-button">Cancel</a>
					</div>
			</div>
			
		</div>
		{% endif %}
		
		{% for answer in answers_data %}
		<div class="answer-container">
			<div class="star-balancer"></div><div href="/profile/{{ answer.object.answered_by_user.pk }}/" class="expert-profile-box">
				<div class="expert-top-profile">
					<div class="expert-image-wrapper"><img src="{% static 'mainapp/images/profile_pictures/' %}{{ answer.object.answered_by_user.expert_profile.image_path | safe }}"></div><div class="expert-right-info">
						<span class="expert-name">{{ answer.object.answered_by_user.user.first_name | safe }} {{ answer.object.answered_by_user.user.last_name | safe }}</span>
						<span class="expert-accreditation">{{answer.accreditation}}</span>
						<img src="{% static 'mainapp/images/expert_badge.png' %}">
					</div>
				</div>
				<div class="expert-description">
					<span class="position">{{ answer.object.answered_by_user.expert_profile.title | safe }} - {{ answer.object.answered_by_user.expert_profile.organization | safe }}</span>
					<span class="organization"></span>
				</div>
				<a class="go-to-profile">
					<span class="go-to-profile-text">Profile</span>
					<img class="right-arrow-button" src="{% static 'mainapp/images/right-more-arrow.png' %}">
				</a>
			</div><div class="answer-box">
				<div class="answer-text">
					{{ answer.object.text | safe }}
				</div>
				<div class="join-discussion">
					<span class='join-discussion-text'>Show Discussion</span>
					<img class="up" style="display:none;" src="{% static 'mainapp/images/blue-up-show-arrow.png' %}">
					<img class="down" src="{% static 'mainapp/images/blue-down-show-arrow.png' %}">
				</div>
				<div class="discussion-box"  data-pk="{{answer.object.pk}}" style="display:none;">
					<div class="discussion-header-text">Discussion ({{ answer.comments | length}})</div>
					<div class="comment-panel">
						{% for comment in answer.comments %}
						<div class="comment-item">
							<div class="comment-left-panel">
								<img align="left" src="{% static 'mainapp/images/profile_pictures/' %}{{comment.image_path}}">
							</div><div class="comment-right-panel">
								<a class="commenter-full-name" href="/profile/{{comment.commenter_pk}}/">{{comment.first_name}} {{comment.last_name}}</a>
								<span class="commenter-comment-text">{{comment.object.text}}</span>
								</div>
						</div>
						{% endfor %}
						{% if user.is_authenticated %}
						<div class="comment-item">
							<div class="comment-left-panel">
								<img align="left" src="{% static 'mainapp/images/profile_pictures/' %}{{ my_profile_picture }}">
							</div><div class="comment-right-panel">
								<span class="commenter-full-name">{{first_name}} {{my_last_name}}</span>
								<textarea class="comment-text-field" placeholder="Join the discussion..."></textarea>
								<div class="comment-submit-area">
									<button class="comment-button">Comment</button>
								</div>
								</div>
						</div>
						{% endif %}
					</div>

				</div>
			</div><div class="{% if logged_in %}star-box{% else %}star-box-uneditable{% endif %} {% if answer.already_starred %}upvoted{% endif %}" data-pk="{{ answer.object.pk }}">
				<img src="{% static 'mainapp/images/yellow-star.png' %}">
				<span class="star-count">{{ answer.stars }}</span>
			</div>
		</div>
		{% endfor %}
		{% if not answers_data %}
		<div class="no-answers-box">
			No one has answered yet. Check back soon.
		</div>
		{% endif %}
	
	</div>
	{% else %}
	<div class="white-content-box">
		<div>
			<span class="page-not-found">We could not find that page :(</span>
		</div>
	</div>
	{% endif %}
	
{% endblock %}