{% extends "mainapp/base/base_public.html" %}

{% block title %}Expert | Nutrition Experts{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
	</script>
{% endblock %}

{% block content %}
	<div class="white-content-box">
		<div class="left-profile-panel">
			<img class="profile picture" src="">
			<div class="followers">
				
			</div>
			<div class="answers">
				
			</div>
			<button class="follow-button">Follow</button>
		</div>
		<div class="right-profile-panel">
			<span>Bart de Jonghe, Ph.D.</span>
			<img src="">
			<a class="website" href=""></a>
			<p class="expert-summary">
				
			</p>
			<span class="areas-expertise">Areas of expertise</span>
			<span>Eating Disorders, Energy Balance, Basic Nutrition</span>

		</div>
	</div>
{% endblock %}