{% extends "mainapp/base/base_public.html" %}

{% block title %}Home - Nutriosity{% endblock %}

{% block bodyclass %}
	class="feed"
{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		var profile_picture = "{{ profile_picture }}";
		$('.filter-type').click(function() {
			if(!$(this).hasClass('selected')) {
				$('.filter-type').removeClass('selected');
				$(this).addClass('selected');

			}
		});

		/* Apply upvoted class */
		$('.upvote-item').click(function() {
			$(this).addClass('upvoted');
		});

		/* Go to discussion if feed item clicked */
		$('.feed-item').click(function() {
			window.location.href = "/discussion/";
		});

	</script>
{% endblock %}

{% block content %}
	<div class="filter-selector">
		<span class="filter-type selected">Popular</span>
		<span class="filter-type">Recent</span>
	</div>
	<div class="content-feed">
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">Is there scientific evidence that a ketogenic diet is particularly effective for fat loss? What are the dangers of forcing your body into ketosis? Test words that are pretty common.</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
	</div>
{% endblock %}