{% extends "mainapp/base/base_public.html" %}

{% block title %}Home - Nutriosity{% endblock %}

{% block bodyclass %}
	class="feed"
{% endblock %}

{% block afterscript %}
	{% load staticfiles %}
	<script type="text/javascript">
		function attachListeners() {
			/* Go to discussion if feed item clicked */
			$('.feed-item').click(function() {
				var pk = $(this).data('pk');
				window.location.href = "/discussion/"+pk+"/";
			});

			/* Apply upvoted class */
			$('.upvote-item').click(function(e) {
				var currentUpvoteItem = $(this);
				var data = {
					question_pk: $(this).parent('.feed-item').data('pk')
				};
				var postString = "";

				if(!$(this).hasClass('upvoted')) { // upvote
					postString = "upvote_question";
				}
				else { // Remove upvote
					postString = "remove_upvote_question";
				}

				HELPER.post("/api/"+postString+"/", data, function(data) {

					var returnData = JSON.parse(data);
					if(returnData.status == 1) { // Success
						if(postString == "remove_upvote_question") {
							currentUpvoteItem.removeClass('upvoted');
							currentUpvoteItem.find('.vote-count').text(returnData.num_votes);
						}
						else 
						{
							currentUpvoteItem.addClass('upvoted');
							currentUpvoteItem.find('.vote-count').text(returnData.num_votes);
						}
					}
					else { // Failure
						if(returnData.error == 0) { // Not logged in
							$('.login-lightbox').show();
							$('.shadow-overlay').show();
							$('body').addClass('noscroll');						
						}
						else if(returnData.error == 1) { // User doesn't exist

						}
						else if(returnData.error == 2) { // Question doesn't exist

						}
						else if(returnData.error == 3) { // Already upvoted or not upvoted yet

						}
						else {

						}
					}

					

				}, function(data) {

				});
				
				return false;
			});
		}

		var feedItems;

		// var post_data = {
		// 	state: 0
		// };

		// /* TEMP */
		// HELPER.post("/api/get_scores/", post_data, function(data) {
		// 	var returnData = JSON.parse(data);
			
		// 	if(returnData.status == 1) { // Success
		// 		var scores = JSON.parse(returnData.results);
		// 		console.log(scores);
		// 		for(var x = 0; x < scores.length; x++) {
		// 			console.log(scores[x].text + " Time: " + scores[x].timestamp + " Upvotes: " + scores[x].upvotes + " Score: " + scores[x].score);
		// 		}

		// 	}
		// 	else { // Failure
		// 		console.log('FAILURE!')
		// 		if(returnData.error == 0) { // Not logged in
		// 			console.log("not logged in but upvoting");
		// 		}
		// 		else if(returnData.error == 1) { // User doesn't exist

		// 		}
		// 		else if(returnData.error == 2) { // Question doesn't exist

		// 		}
		// 		else if(returnData.error == 3) { // Already upvoted or not upvoted yet

		// 		}
		// 		else {

		// 		}
		// 	}

			

		// }, function(data) {

		// });

		/* This function takes data from feedItems and uses it to populate the page */
		function populatePageFromFeedItems() {
			$('.content-feed').html("");
			for(var index in feedItems) {
				var feedItem = feedItems[index];
				var upvoted = "";
				if(feedItem.upvoted) {
					upvoted = "upvoted";
				}

				/* Load expert images */
				var experts_html_string = '<div class="experts-pane"> ';
				for(var x = 0; x < feedItem.experts_array.length; x++) {
					if(x < 3) {
						var image_path = profile_path + feedItem.experts_array[x].image_path;
						experts_html_string += '<img data-pk="';
						experts_html_string += feedItem.experts_array[x].expert_profile_pk;
						experts_html_string += '" src="'+image_path+'"> ';
					}
				}
				experts_html_string += '</div>';

				/* Load feed items */
				var feedHTMLItem = '<div class="feed-item" data-pk="'+feedItem.pk+'"> \
					<div class="upvote-item '+upvoted+'"> \
						<img src="{% static "mainapp/images/upvote-arrow.png" %}"> \
						<span class="vote-count">'+feedItem.num_upvotes+'</span> \
					</div> \
					<div class="question-text">'+feedItem.text+'</div> ' + experts_html_string + 
				'</div>';
						
				$('.content-feed').append(feedHTMLItem);
			}

			attachListeners();
		}

		/* Get profile picture */
		var profile_picture = "{{ profile_picture }}";

		// $('.filter-type').click(function() {
		// 	if(!$(this).hasClass('selected')) {
		// 		/* Make bold */
		// 		$('.filter-type').removeClass('selected');
		// 		$(this).addClass('selected');

		// 		/* Reload page */
		// 		// toggleFeed($(this).data('state'));
		// 		window.location.href = "/feed/"+$(this).data('state')+"/0/";
		// 	}
		// });

		var profile_path = '{% static "mainapp/images/profile_pictures/" %}';


		/* Set correct filter to be selected */
		var state = {{state}};
		if(state == 0) {
			$('.filter-type').first().addClass('selected');
		}
		else {
			$('.filter-type').last().addClass('selected');
		}

		/* LOAD EVERYTHING */		
		feedItems = {{ feed_items | safe }}; // Get feedItems
		populatePageFromFeedItems(); // Populate the page

		/* This function toggles how the feed items are ordered */
		/* State is being changed to the the state argument */
		// function toggleFeed(state) {
		// 	/* First get's data in new order */
		// 	var data = {
		// 		state: state
		// 	};
		// 	console.log("State: " + state);

		// 	HELPER.post("/api/get_feed_items/", data, function(data) {

		// 		var returnData = JSON.parse(data);
		// 		console.log(returnData);
		// 		if(returnData.status == 1) { // Success
		// 			feedItems = JSON.parse(returnData.feed_items);

		// 			/* Update UI */
		// 			populatePageFromFeedItems();

		// 			 Edit previous and next buttons 

		// 		}
		// 		else { // Failure
		// 			console.log('FAILURE!')
		// 			if(returnData.error == 0) { // Not logged in
		// 				console.log("not logged in but upvoting");
		// 			}
		// 			else if(returnData.error == 1) { // User doesn't exist

		// 			}
		// 			else if(returnData.error == 2) { // Question doesn't exist

		// 			}
		// 			else if(returnData.error == 3) { // Already upvoted or not upvoted yet

		// 			}
		// 			else {

		// 			}
		// 		}
		// 	}, function(data) {

		// 	});
		// }



	</script>
{% endblock %}

{% block content %}
	<div class="notification-box">
		<span style="font-family: OpenSans-Semibold;">Nutriosity is current in early alpha, but here's a sneak preview. Please give us your comments <a href="mailto:nutriosity@gmail.com" target="_blank" style="text-decoration: none; color: #3C8A96;">here</a>!</span>
	</div>
	<div class="filter-selector">
		<a class="filter-type" data-state="0" href="/feed/0/0/">Popular</a>
		<a class="filter-type" data-state="1" href="/feed/1/0/">Recent</a>
	</div>
	<div class="content-feed">
		<!-- <div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">Is there scientific evidence that a ketogenic diet is particularly effective for fat loss? What are the dangers of forcing your body into ketosis? Test words that are pretty common.</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div>
		<div class="feed-item">
			<div class="upvote-item">
				{% load staticfiles %}
				<img src="{% static 'mainapp/images/upvote-arrow.png' %}">
				<span class="vote-count">8</span>
			</div>
			<div class="question-text">What's the difference between soluble and insoluble fiber?</div>
			<div class="experts-pane">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
			</div>
		</div> -->
	</div>
	<div class="pagination">
		{% if back_exists %}
		<div class="pagination-item" style="text-align: left;">
			<img src="{% static 'mainapp/images/black-chevron-left.png' %}">
			<a href="/feed/{{state}}/{{back_page}}/">Back</a>
		</div>
		{% else %}
		<div class="inactive-pagination-item" style="text-align: left; opacity: .3;">
			<!-- <img src="{% static 'mainapp/images/black-chevron-left.png' %}">
			<a href="#" onclick="return false;">Back</a> -->
		</div>
		{% endif %}
		<div class="pagination-current-item">
			Page {{page_number}}
		</div>
		{% if next_exists %}
		<div class="pagination-item" style="text-align: right;">
			<a href="/feed/{{state}}/{{next_page}}/">Next</a>
			<img src="{% static 'mainapp/images/black-chevron.png' %}">
		</div>
		{% else %}
		<div class="inactive-pagination-item" style="text-align: right; opacity: .3">
			<!-- <a href="#" onclick="return false;">Next</a>
			<img src="{% static 'mainapp/images/black-chevron.png' %}"> -->
		</div>
		{% endif %}
	</div>

{% endblock %}