{% extends "mainapp/base/base_public.html" %}

{% block title %}
{{shown_first_name }} {{shown_last_name}} - Nutriosity
{% endblock %}

{% block afterscript %}

	<script type="text/javascript">
		{% load staticfiles %}
		{% if profile_exists %}
		var user_profile_pk = {{ user_profile_pk }};
		var shown_first_name = "{{ shown_first_name | safe}}";
		var shown_last_name = "{{ shown_last_name | safe}}";

		{% if shown_is_expert %}
			var shown_title = {{ shown_title | safe}};
			var shown_organization = {{ shown_organization | safe}};
			var shown_bio = {{ shown_bio | safe}};
			var shown_website = {{ shown_website | safe}};

			var shown_expertise = {{ shown_expertise | safe}};
			var shown_accreditations = {{ shown_accreditations | safe}};

			$('.title').html(shown_title);
			$('.institution').html(shown_organization);
			$('.expert-summary').html(shown_bio);

			/* Load the accreditations */
			var accreditations_string = "";
			for(var a in shown_accreditations) {
				accreditations_string += shown_accreditations[a] + " ";
			}
			accreditations_string = $.trim(accreditations_string);
			$('.accreditations-text').text(accreditations_string);


			if(accreditations_string != "") {
				$('.full-name').text(shown_first_name + " " + shown_last_name + ",");
			}
			else {
				$('.full-name').text(shown_first_name + " " + shown_last_name);
			}

			/* Load areas of expertise */
			for(var e in shown_expertise) {
				$('.expertise-areas-line').append('<span class="expertise">'+shown_expertise[e]+'</span> ');
			}

			/* Set website */
			$('.website').attr('href',shown_website);

			if(shown_website == "") {
				$('.website').attr('onclick','return false;');
				$('.website').hide();
			}

		{% else %}
			var shown_five_words = {{ shown_five_words | safe}};
			var shown_bio = {{ shown_bio | safe}};

			$('.five-words').html(shown_five_words);
			$('.expert-summary').html(shown_bio);

			$('.full-name').text(shown_first_name + " " + shown_last_name);

		{% endif %}
		{% endif %}


		/* LOAD ALL QUESTIONS */
		var feedItems;

		function attachListeners() {
			/* Go to discussion if feed item clicked */
			$('.feed-item').click(function() {
				console.log('click');
				var pk = $(this).data('pk');
				window.location.href = "/discussion/"+pk+"/";
			});

			/* Apply upvoted class */
			$('.upvote-item').click(function(e) {
				var currentUpvoteItem = $(this);
				var data = {
					question_pk: $(this).parent('.feed-item').data('pk')
				};
				var postString = "";

				if(!$(this).hasClass('upvoted')) { // upvote
					postString = "upvote_question";
				}
				else { // Remove upvote
					postString = "remove_upvote_question";
				}

				HELPER.post("/api/"+postString+"/", data, function(data) {

					var returnData = JSON.parse(data);
					if(returnData.status == 1) { // Success
						if(postString == "remove_upvote_question") {
							currentUpvoteItem.removeClass('upvoted');
							currentUpvoteItem.find('.vote-count').text(returnData.num_votes);
						}
						else 
						{
							currentUpvoteItem.addClass('upvoted');
							currentUpvoteItem.find('.vote-count').text(returnData.num_votes);
						}
					}
					else { // Failure
						if(returnData.error == 0) { // Not logged in
							console.log("not logged in but upvoting");
						}
						else if(returnData.error == 1) { // User doesn't exist

						}
						else if(returnData.error == 2) { // Question doesn't exist

						}
						else if(returnData.error == 3) { // Already upvoted or not upvoted yet

						}
						else {

						}
					}

					

				}, function(data) {

				});
				
				return false;
			});
		}

		var profile_path = '{% static "mainapp/images/profile_pictures/" %}';
		
		/* This function takes data from feedItems and uses it to populate the page */
		function populatePageFromFeedItems() {
			$('.content-feed').html("");
			for(var index in feedItems) {
				var feedItem = feedItems[index];
				var upvoted = "";
				if(feedItem.upvoted) {
					upvoted = "upvoted";
				}

				/* Load expert images */
				var experts_html_string = '<div class="experts-pane"> ';
				for(var x = 0; x < feedItem.experts_array.length; x++) {
					if(x < 3) {
						var image_path = profile_path + feedItem.experts_array[x].image_path;
						experts_html_string += '<img data-pk="';
						experts_html_string += feedItem.experts_array[x].expert_profile_pk;
						experts_html_string += '" src="'+image_path+'"> ';
					}
				}
				experts_html_string += '</div>';

				/* Load feed items */
				var feedHTMLItem = '<div class="feed-item" data-pk="'+feedItem.pk+'"> \
					<div class="upvote-item '+upvoted+'"> \
						<img src="{% static "mainapp/images/upvote-arrow.png" %}"> \
						<span class="vote-count">'+feedItem.num_upvotes+'</span> \
					</div> \
					<div class="question-text">'+feedItem.text+'</div> ' + experts_html_string + 
				'</div>';
						
				$('.content-feed').append(feedHTMLItem);
			}

			attachListeners();
		}
		feedItems = {{ feed_items | safe }}; // Get feedItems
		populatePageFromFeedItems(); // Populate the page

	</script>
{% endblock %}

{% block content %}
	<div class="white-content-box">
		{% if profile_exists %}

		<div class="left-profile-panel">
			{% load staticfiles %}
			<img class="expert-picture" src="{% static 'mainapp/images/profile_pictures/' %}{{ shown_image_path }}">
			<div class="count-section">
				{% if shown_is_expert %}
<!-- 				<div class="count-item">
					<span class="number-count follower-count">0</span>
					Followers
				</div> -->
				<div class="count-item">
					<span class="number-count answer-count">{{shown_num_answers}}</span>
					Answers
				</div>
				{% else %}
				<div class="count-item">
					<span class="number-count question-count">{{shown_num_questions}}</span>
					Questions
				</div>
				{% endif %}
			</div>
			
			<!-- <div class="follow-button">Follow</div> -->
		</div>
		<div class="right-profile-panel">
			<div class="primary-information">
				<span class="full-name">Bart de Jonghe</span>
				<!-- <span class="semibold">,</span> -->
				<!-- <span class="comma">,</span> -->
				{% if shown_is_expert %}
				<span class="accreditations-text ">PhD</span>
				<img class="expert-badge" src="{% static 'mainapp/images/expert_badge.png' %}">
				{% endif %}
			</div>
			
			<div class="secondary-information">
				{% if shown_is_expert %}
				<span class="title">Assistant Professor of Nursing</span>
				<span class="institution">University of Pennsylvania University of Pennsylvania</span>
				{% else %}
				<span class="five-words">I believe in nutrition knowledge</span>
				{% endif %}
			</div>
			{% if shown_is_expert %}
			<div class="expertise-areas-line">
			</div>
			{% endif %}
			<p class="expert-summary">
			</p>
			{% if shown_is_expert %}
			<a class="website" target="_blank">
				<img src="{% static 'mainapp/images/blue_link.png' %}">
				<span class="website-text">Website</span>
			</a>
			{% endif %}
		</div>

		{% else %}
		<div>
			<span class="page-not-found">We could not find that page :(</span>
		</div>
		{% endif %}
	</div>
	{% if shown_is_expert %}
	<div class="profile-questions-header">{{shown_first_name}}'s Answered Questions</div>
	{% else %}
	<div class="profile-questions-header">{{shown_first_name}}'s Asked Questions</div>
	{% endif %}
	<div class="content-feed profile-content-feed">
		<!-- Feed items go here -->
	</div>
{% endblock %}