{% extends "mainapp/base/base_public.html" %}

{% block title %}Update Password - Nutriosity{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		{% load staticfiles %}
		var profile_pictures_dir_path = "{% static 'mainapp/images/profile_pictures/' %}";

		/* Listeners */
		$('.change-password-link').click(function() {

			if($('.change-password-form').is(':visible')) {
				$('.change-password-form').hide();
			}
			else {
				$('.change-password-form').show();
			}
		});

		$('.change-password-button').click(function() {
			var old_password = $.trim($('.old-password-field').val());
			var new_password = $.trim($('.new-password-field').val());
			var confirm_password = $.trim($('.confirm-password-field').val());

			var post_data = {
				old_password: old_password,
				new_password: new_password,
				confirm_password: confirm_password
			};

			HELPER.post("/api/change_password/", post_data, function(data) {

				var returnData = JSON.parse(data);

				if(returnData.status == 1) { // Success
					$('.old-password-field').val("");
					$('.new-password-field').val("");
					$('.confirm-password-field').val("");

					window.location.href = "/feed/";
				}
				else { // Failure
					$('.change-password-alert').show().removeClass('green');

					if(returnData.error == 0) {
						console.log('0');
						$('.change-password-alert').html("Please log in first!");
					}
					else if(returnData.error == 1) {
						console.log('1');
						$('.change-password-alert').html("The old password entered was incorrect!");
					}
					else if(returnData.error == 2) {
						console.log('2');
						$('.change-password-alert').html("The password confirmation was different!");
					} 
				}

			}, function(data) {

			});
		});
	</script>
{% endblock %}

{% block content %}
	{% load staticfiles %}
	<div class="white-content-box">
		<span class="main-text">Update Password</span>
		<div class="change-password-box">
			<div class="change-password-form">
				<input type="password" class="old-password-field update-password-text-field" placeholder="Old Password">
				<input type="password" class="new-password-field update-password-text-field" placeholder="New Password">
				<input type="password" class="confirm-password-field update-password-text-field" placeholder="Confirm Password">	
				<div class="change-password-alert form-alert-bar" style="display:none;">Please enter a valid first name.</div><br>
				<button class="change-password-button small-submit-button">Change</button>
			</div>
		</div>
	</div>
{% endblock %}