{% extends "mainapp/base.html" %}

{% block title %} Nutrition Experts {% endblock %}

{% block head %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/about.css' %}">
{% endblock %}

{% block body %}
	<div class="header">
		<div class="right-header-container">
			<a class="logo" href="#">Nutrition Experts | The Experts</a>
			<div class="right-header">
				<div class="nav-item"><a href="#">About</a></div>
				<div class="nav-item"><a href="#">Sign Up</a></div>
				<div class="nav-item"><a href="#">Log In</a></div>
			</div>
		</div>
	</div>
	<div class="content">
		<div id="about-menu">
			<a href="#" class="about-menu-item">About</a>
			<a href="#" class="about-menu-item">Experts</a>
			<a href="#" class="about-menu-item">FAQ</a>
		</div>
		<div id="general-about-content">
			<div class="main-text">The Expert Opinion on Nutrition Questions</div>
			<div id="features">
				<div class="feature-box">
					<div class="numeration"><span class="number">1</span></div>
					<div class="feature-text">The discussion starts with a high quality question from people like you</div>
				</div>
				<div class="feature-box">
					<div class="numeration"><span class="number">2</span></div>
					<div class="feature-text">Questions are answered exclusively by vetted Nutrition experts such as PhDs and Dietitians.</div>
				</div>
				<div class="feature-box">
					<div class="numeration"><span class="number">3</span></div>
					<div class="feature-text">Experts can continue discussing and members can join in and ask follow up questions </div>
				</div>
			</div>
		</div>
		<form id="interest-sign-up">
			<input class="large-text-field" type="text" name="emailaddress" placeholder="Enter your email address">
			<button class="large-submit-button">Submit</button>
		</form>
	</div>
	
{% endblock %}