{% extends "mainapp/base/base_about.html" %}

{% block title %}About - Nutriosity{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		$('#about-nav').addClass('selected');

		$('.large-submit-button').click(function() {
			var email_address = $.trim($('.large-text-field').val());

			if(email_address == "") {
				return;
			}

			var data = {
				'email': email_address
			};

			/* POST to endpoint */
			HELPER.post('/api/email_signup/', data, function(data) {
				/* Clear the email text field */
		    	
		    	/* Handle possibilities */
		    	var	returnData = JSON.parse(data);

		        if(returnData['status'] == 1) {
		        	$('.alert-bar').removeClass('red green').addClass('green');
		        	$('.alert-bar').fadeIn().delay(2000).fadeOut(1600);
		        	$('.alert-bar').text("Great, stay tuned for updates - we're excited to launch soon!");
		        	$('.large-text-field').val("");
		        }
		        else {
		        	if(returnData['error'] == 0) { // Invalid email
		        		$('.alert-bar').removeClass('red green').addClass('red');
		        		$('.alert-bar').fadeIn().delay(2000).fadeOut(1600);
		        		$('.alert-bar').text("Invalid email address. Please try again.");
		        		$('.large-text-field').focus();
		        	}
		        	else { // Email already signed up
		        		$('.alert-bar').removeClass('red green').addClass('red');
		        		$('.alert-bar').fadeIn().delay(2000).fadeOut(1600);
		        		$('.alert-bar').text("This email has already been used.");
		        		$('.large-text-field').focus();
		        	}
		        }
			}, function(data) {
				/* Clear the email text field */
		    	$('.large-text-field').val("");

		        alert('Error');
			});
		});

		/* Prevent normal form submit on enter */
		$('#interest-sign-up').bind("keyup keypress", function(e) {
		  var code = e.keyCode || e.which; 
		  if (code  == 13) {               
		    /* Prevent form from being submitted */
		    e.preventDefault();

		    /* Click "Join" button */
		    $('.large-submit-button').click();

		    return false;
		  }
		});
	</script>
{% endblock %}

{% block content %}
	<div class="content-container">
		<div class="main-text">We believe that being healthful starts with <span class="bold">knowledge</span></div>
		<p>
			Nutriosity is a platform to discuss, learn about, and explore nutrition knowledge. It all starts with a question, which is answered by a community of academic and professional experts in nutrition. 
		</p>
		<p>If you are someone super passionate about nutrition and want exclusive access to the community, <a href="mailto:nutriosity@gmail.com" class="text-link">email us</a>.</p>
		<p>Are you an expert? We’d <a href="/expert_contact/" class="text-link">love to talk</a> about how we can change nutrition discourse together.</p>
		<form id="interest-sign-up">
			<input class="large-text-field" type="text" name="emailaddress" placeholder="Enter your email to hear when we launch!">
			<button class="large-submit-button" type="button">Submit</button>
		</form>
	</div>
	
{% endblock %}