{% extends "mainapp/base/base_public.html" %}

{% block title %}Disclaimer - Nutriosity{% endblock %}

{% block afterscript %}

{% endblock %}

{% block content %}
	<div class="content-container">
		<!-- <div class="main-text">Disclaimer</div> -->
		<h1>Medical Disclaimer</h1>
		<div class="legal-text" style="font-size: 18px;">
			The contents of the Nutriosity Site, including text, images, and any other material on the Nutriosity Site (“Content”) are for informational purposes online. The Content is not intended to be a substitute for professional medical or nutritional advice, treatment, or diagnosis. If you have a medical condition, you should always seek professional advice from a licensed physician or otherwise qualified individual. Nutriosity makes no representation and assumes no responsibility for the accuracy of information contained or available through this Site. Nutriosity, the experts that answer questions on the platform, and the users that participate in the community are not responsible nor liable for any action that you make take based on information that you may obtain from use of this Site.
		</div>
	</div>
{% endblock %}