{% extends "mainapp/base/base_about.html" %}

{% block title %}Experts - Nutriosity{% endblock %}

{% block afterscript %}
	{% load staticfiles %}
	<script type="text/javascript">
		/* INITIAL PAGE PREP */
		$('#experts-nav').addClass('selected');

		/* LOAD EXPERTS INTO PANEL */
		var experts_count = 0;
		var image_src_path = "{% static 'mainapp/images/profile_pictures/' %}";
		var experts_data = {{ experts_data | safe }};

		for(var pk in experts_data) {
			experts_count++;

			/* Create new row */
			if(experts_count % 3 == 1) {
				$('#experts-panel').append('<div class="experts-row"></div>');
			} 

			var expert_profile = experts_data[pk];

			/*  */
			var accreditations_text = "";
			for(var a in expert_profile.accreditations) {
				accreditations_text += expert_profile.accreditations[a] + " ";
			}
			console.log(expert_profile.image_path);
			var expert_item_element = '<div class="expert-item" data-expert_pk="'+pk+'"> \
					<img src="{% static "mainapp/images/profile_pictures/" %}'+expert_profile.image_path+'"> \
					<div class="expert-information">\
						<span class="name-designiation-text">'+ expert_profile.first_name + " " + expert_profile.last_name + ", " + accreditations_text +'</span> \
						<span class="position-text">'+expert_profile.title+'</span> \
						<span class="affiliation-text">'+expert_profile.organization+'</span> \
					</div> \
				</div>';
			$('.experts-row').last().append(expert_item_element);
		}

		/* Add Be Expert Item */
		experts_count++;
		if(experts_count % 3 == 1) {
			$('#experts-panel').append('<div class="experts-row"></div>');
		}
		var be_expert_item = '<a class="be-expert-item" href="/expert_contact/"> \
			<img src="{% static 'mainapp/images/we_want_you.jpg' %}"> \
			<div class="join-information"> \
				<span href="/expert_contact/" style="display: block;">Be an expert</span> \
				<span href="/expert_contact/">Join</span> \
				<img src="{% static 'mainapp/images/blue-chevron.png' %}"> \
			</div> \
		</a>';
		$('.experts-row').last().append(be_expert_item);
		

		/* BINDINGS */
		$('.expert-item').click(function() {
			/* Set the correct data in the lightbox */
			var expert_pk = $(this).data('expert_pk');
			console.log(expert_pk);

			var expert_profile = experts_data[expert_pk];
			$('.name').text(expert_profile.first_name + " " + expert_profile.last_name + ",");

			var accreditations_text = "";
			for(var a in expert_profile.accreditations) {
				accreditations_text += expert_profile.accreditations[a] + " ";
			}
			$('.accreditations').text(accreditations_text);
			$('.left-detail-panel > img').attr("src",image_src_path+expert_profile.image_path);
			$('.position').text(expert_profile.title);
			$('.organization').text(expert_profile.organization);
			$('.description').text(expert_profile.bio);

			if(expert_profile.website == "") {
				$('.website').attr("href","#");
				$('.website').attr("onclick","return false;");
				$('.website').hide();
			}
			else {
				$('.website').attr("href",expert_profile.website);
				$('.website').attr("target","_blank");
				$('.website').attr("onclick","");
				$('.website').show();
			}
			

			/* Reset areas of expertise */
			$('.expertise-areas-line').html("");
			for(var area in expert_profile.expertise) {
				var expertise_element = '<div class="expertise">'+expert_profile.expertise[area]+'</div>';
				$('.expertise-areas-line').append(expertise_element);
			}
			
			/* Show lightbox */
			$('.shadow-overlay').show();
			$('.expert-profile-lightbox').show();
			$('body').addClass('noscroll');
		});

		$('.shadow-overlay').click(function() {
			$('.shadow-overlay').hide();
			$('.expert-profile-lightbox').hide();
			$('body').removeClass('noscroll');
		});

		$('.close-expert-lightbox').click(function() {
			$('.expert-profile-lightbox').hide();
			$('.shadow-overlay').hide();
			$('body').removeClass('noscroll');
		});
	</script>
{% endblock %}

{% block content %}
	
	<div class="content-container" >
		<div id="experts-introduction">
			<!-- <span class="main-text">We believe in experts</span> -->
			<p class="experts-blurb">
				We believe in experts. We believe in the power of knowledge disseminated by those who <span class="bold">discover</span> it, those who <span class="bold">apply</span> it, and those who dedicate their <span class="bold">lives</span> to it.
			</p>
		</div>
	</div>

	<div class="content-container">
		<span class="main-text">Meet the Nutriosity expert community</span>
		<span class="click-more-text">Click on an expert to learn more</span>
		
		<div id="experts-panel">
			<!-- <div class="experts-row">
				<div class="expert-item">
					<img src="{% static 'mainapp/images/bart_de_jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, PhD</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					<img src="{% static 'mainapp/images/gray_circle.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Mary Zeoli, RD, MS, RN</span>
						<span class="position-text">Nutrition Consultant, School Nurse</span>
						<span class="affiliation-text"></span>
					</div>
				</div>
				
			</div> -->
			
		</div>
	</div>
{% endblock %}