{% extends "mainapp/base/base_about.html" %}

{% block title %}Experts | Nutrition Experts{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		$('#experts-nav').addClass('selected');
	</script>
{% endblock %}

{% block content %}

	<div class="content-container">
		<div id="experts-introduction">
			<span class="main-text">Meet our experts</span>
			<p class="experts-blurb">The nutrition experts answering your questions are individually screened and vetted Ph.D.'s, dietitians, nutritionists, and other academics and professionals who dedicate their lives to advancing nutrition research and applying nutritional science to practice.</p>
			<p class="seek-experts-blurb">Are you an expert? <a href="/expert_contact/1/" class="text-link">Join us</a> in our mission to spread evidence backed information about nutrition and make the world a healthier place.</p>
		</div>
		<div id="experts-panel">
<!-- 			<span class="meet-experts-text">Meet them</span>
 -->			<div class="experts-row">
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
			</div>
			<div class="experts-row">
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
			</div>
			<div class="experts-row">
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
			</div>
			<div class="experts-row">
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
			</div>
			<div class="experts-row">
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
			</div>
			<div class="experts-row">
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
			</div>
			<div class="experts-row">
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
				<div class="expert-item">
					{% load staticfiles %}
					<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
					<div class="expert-information">
						<span class="name-designiation-text">Bart de Jonghe, Ph.D.</span>
						<span class="position-text">Associate Professor of Nutrition</span>
						<span class="affiliation-text">University of Pennsylvania</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}