{% extends "mainapp/base/base_about.html" %}

{% block title %}FAQ | Nutrition Experts{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		$('#faq-nav').addClass('selected');
	</script>
{% endblock %}

{% block content %}
	<div class="content-container">
		<span class="large-title-text">Frequently Asked Questions</span>
		<div class="faq-item">
			<div class="faq-question">What is Nutriosity?</div>
			<div class="faq-answer">Simply put, The Nutriosity is a community to learn about nutrition from unbiased, evidence-backed, and relevant experts. Each discussion starts with a question. Questions are answered exclusively by a community of vetted experts. Members of the community can then continue discussing the topic with experts through comments.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">Can anyone ask a question?</div>
			<div class="faq-answer">Anyone can submit a question to be asked. As of right now (because we just launched), questions are moderated by a group of hand-selected members knowledgeable and interested in nutrition. If your question hasn’t been asked before and is a good question (what is a good question?), there is a large likelihood it will be approved.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">Who is the expert community?</div>
			<div class="faq-answer">The expert community comprises of academics and professionals who have extensive experience in nutrition. It includes PhDs, professors, registered dietitians, researchers, and more, who have been hand-selected for their knowledge and ability to convey it.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">When is this launching?</div>
			<div class="faq-answer">The Nutriosity is a platform for discussion about nutrition topics. The goal is to provide a community for enlightening high-quality discourse about nutrition. As such, questions that are personal in nature are likely not to get approved. That doesn’t mean you can’t ask a question about something you’ve personally encountered - it just means that each question should be applicable and relevant to more than yourself.</div>
		</div>
	</div>
{% endblock %}