{% extends "mainapp/base/base_about.html" %}

{% block title %}FAQ | Nutrition Experts{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		$('#faq-nav').addClass('selected');
	</script>
{% endblock %}

{% block content %}
	<div class="content-container">
		<span class="large-title-text">Frequently Asked Questions</span>
		<div class="faq-item">
			<div class="faq-question">What is Nutrition Experts?</div>
			<div class="faq-answer">Lorem ipsum dolor sit amet, atqui aeque deserunt his ne, enim facilis te ius. Munere ponderum per ne, eam quidam scripta at. Ei duo congue voluptua qualisque, cu vel labores menandri, elit choro abhorreant sit at. Eu mel aperiam moderatius elaboraret. Ei ius wisi equidem comprehensam, sit soluta placerat in.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">What is Nutrition Experts?</div>
			<div class="faq-answer">Lorem ipsum dolor sit amet, atqui aeque deserunt his ne, enim facilis te ius. Munere ponderum per ne, eam quidam scripta at. Ei duo congue voluptua qualisque, cu vel labores menandri, elit choro abhorreant sit at. Eu mel aperiam moderatius elaboraret. Ei ius wisi equidem comprehensam, sit soluta placerat in.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">What is Nutrition Experts?</div>
			<div class="faq-answer">Lorem ipsum dolor sit amet, atqui aeque deserunt his ne, enim facilis te ius. Munere ponderum per ne, eam quidam scripta at. Ei duo congue voluptua qualisque, cu vel labores menandri, elit choro abhorreant sit at. Eu mel aperiam moderatius elaboraret. Ei ius wisi equidem comprehensam, sit soluta placerat in.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">What is Nutrition Experts?</div>
			<div class="faq-answer">Lorem ipsum dolor sit amet, atqui aeque deserunt his ne, enim facilis te ius. Munere ponderum per ne, eam quidam scripta at. Ei duo congue voluptua qualisque, cu vel labores menandri, elit choro abhorreant sit at. Eu mel aperiam moderatius elaboraret. Ei ius wisi equidem comprehensam, sit soluta placerat in.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">What is Nutrition Experts?</div>
			<div class="faq-answer">Lorem ipsum dolor sit amet, atqui aeque deserunt his ne, enim facilis te ius. Munere ponderum per ne, eam quidam scripta at. Ei duo congue voluptua qualisque, cu vel labores menandri, elit choro abhorreant sit at. Eu mel aperiam moderatius elaboraret. Ei ius wisi equidem comprehensam, sit soluta placerat in.</div>
		</div>
	</div>
{% endblock %}