{% extends "mainapp/base/base_about.html" %}

{% block title %}FAQ | Nutrition Experts{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		$('#faq-nav').addClass('selected');
	</script>
{% endblock %}

{% block content %}
	<div class="content-container">
		<span class="large-title-text">Frequently Asked Questions</span>
		<div class="faq-item">
			<div class="faq-question">What is Nutriosity?</div>
			<div class="faq-answer">
				Simply put, Nutriosity is a community to learn about and discuss nutrition with unbiased, evidence-backed, and relevant experts. Each discussion starts with a question, answered exclusively by a community of vetted experts. Members of the community can then continue discussing the topic with experts through comments. The home feed is a simple way to read the most popular discussions of the day.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">Can anyone ask a question?</div>
			<div class="faq-answer">
				Anyone can submit a question to be asked. As of right now, questions are moderated by a group of hand-selected members knowledgeable and interested in nutrition. If your question hasn’t been asked before and is an open-ended question, it will likely be approved.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">Who is the expert community?</div>
			<div class="faq-answer">
				The expert community comprises of a diverse group of academics and professionals who have extensive experience in nutritional science and its applications. This includes PhDs, professors, registered dietitians, researchers, and more.</div>
		</div>

		<div class="faq-item">
			<div class="faq-question">When is this launching?</div>
			<div class="faq-answer">
				We're excited to bring Nutriosity to you very soon! <a class="text-link" href="/about">Sign up</a> to be updated when it launches.<br><br>
				
				In addition, we're giving some initial users free-reign to ask questions and start discussion. If you are knowledgeable and passionate about nutritional science, <a href="mailto:nutriosity@gmail.com" class="text-link">email us</a>
		</div>
	</div>
{% endblock %}