<!DOCTYPE html>
<html>
<head>
	<title>Nutriosity</title>

	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" 
          href="{% static 'mainapp/images/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/landing.css' %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'mainapp/js/helper.js' %}"></script>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-26640416-2', 'auto');
	  ga('send', 'pageview');

	</script>
</head>

<body>
	<div id="landing-header">
		<div id="landing-header-container">
			<a id="logo" href="/">Nutriosity</span>
			<a id="header-item" href="/about"><span class="">About</span></a>
		</div>
	</div>
	<div class="alert-bar red" style="display: none;">
		Great, stay tuned for updates - we're excited to launch soon!
	</div>

	<div id="landing-blue-section">
		<span id="begins-text">Health begins with Nutrition, and Nutrition begins with</span>
		<span id="knowledge-text">Knowledge</span>
		
		<!-- <form class="landing-submit-email" action="/landing/" method="POST"> -->
		<form class="landing-submit-email">
			<div class="manifesto" style="display:none">
				<a href="/mission" class="manifesto-text">Read the manifesto</a>
				<img src="{% static 'mainapp/images/light-blue-chevron.png' %}">
			</div>
			{% csrf_token %}
			<input class="email-text-field" type="email" name="EMAIL" placeholder="We're launching soon - enter your email to join the community!">
			<button type="button" class="large-submit-button">Join</button>
		</form>
	</div>

	<div id="landing-white-section">
		<span id="about-text">At Nutriosity, we believe in <span class="bold"> relevant, unbiased, and evidence-backed</span> nutrition discourse</span>
		<div id="information-section">
			<div class="feature-box">
				<div class="feature-image"><img id="hand-raise" src="{% static 'mainapp/images/hand-raise.png' %}"></div>
				<div class="feature-text">The discussion starts with an <span class="bold">intriguing question</span> asked by anyone</div>
			</div>
			<div class="feature-box">
				<div class="feature-image"><img id="brain" src="{% static 'mainapp/images/brain.png' %}"></div>
				<div class="feature-text">Questions are answered exclusively by <span class="bold">vetted Nutrition experts</span> such as PhDs and Dietitians.</div>
			</div>
			<div class="feature-box">
				<div class="feature-image"><img id="join-discussion" src="{% static 'mainapp/images/join-discussion.png' %}"></div>
				<div class="feature-text">Community members can then <span class="bold">join the disussion</span> with experts</span></div>
			</div>
		</div><br>
		<div class="learn-more">
			<a href="/about" class="learn-more-text">Learn More</a>
			<img src="{% static 'mainapp/images/black-chevron.png' %}">
		</div>
	</div>

</body>

<script type="text/javascript">

	$('.large-submit-button').click(function() {
		var email_address = $.trim($('.email-text-field').val());

		if(email_address == "") {
			return;
		}

		var data = {
			'email': email_address
		};

		/* POST to endpoint */
		HELPER.post('/api/email_signup/', data, function(data) {
			/* Clear the email text field */
	    	
	    	/* Handle possibilities */
	    	var	returnData = JSON.parse(data);

	        if(returnData['status'] == 1) {
	        	$('.alert-bar').removeClass('red green').addClass('green');
	        	$('.alert-bar').text("Great, stay tuned for updates - we're excited to launch soon!");
	        	$('.alert-bar').fadeIn().delay(3000).fadeOut(1600);
	        	
	        	$('.email-text-field').hide();
	        	$('.large-submit-button').hide();
	        	$('.manifesto').fadeIn(2000);
	        	$('.email-text-field').val("");
	        }
	        else {
	        	if(returnData['error'] == 0) { // Invalid email
	        		$('.alert-bar').removeClass('red green').addClass('red');
	        		$('.alert-bar').fadeIn().delay(3000).fadeOut(1600);
	        		$('.alert-bar').text("Invalid email address. Please try again.");
	        		$('.email-text-field').focus();
	        	}
	        	else { // Email already signed up
	        		$('.alert-bar').removeClass('red green').addClass('red');
	        		$('.alert-bar').fadeIn().delay(3000).fadeOut(1600);
	        		$('.alert-bar').text("This email has already been used.");
	        		$('.email-text-field').focus();
	        	}
	        }
		}, function(data) {
			/* Clear the email text field */
	    	$('.email-text-field').val("");

	        alert('Error');
		});
	});

	/* Prevent normal form submit on enter */
	$('.landing-submit-email').bind("keyup keypress", function(e) {
	  var code = e.keyCode || e.which; 
	  if (code  == 13) {               
	    /* Prevent form from being submitted */
	    e.preventDefault();

	    /* Click "Join" button */
	    $('.large-submit-button').click();

	    return false;
	  }
	});

	var email = "{{ email | safe }}";
	console.log(email);
</script>

</html>





