{% extends "mainapp/base/base_about.html" %}

{% block title %}Mission - Nutriosity{% endblock %}

{% block afterscript %}
	<script type="text/javascript">
		$('#mission-nav').addClass('selected');
	</script>
{% endblock %}

{% block content %}
	<div class="content-container">
		<p class="bold" style="text-align: center; font-size: 28px; font-family: OpenSans-Bold;">We believe in nutrition information.</p><br><br>

		<p>It is <span class="bold">uniquely important</span>.</p>
		<p>
		People take the nutrition information that they read online and apply it to their own bodies - it has a real and physical impact.
		</p>

		<p>It is <span class="bold">powerful</span>.</p>
		
		<p>
		The internet democratizes access to information, and nutrition information can empower people to make real changes and improve their lives. 
		</p>
		
		<p>But, it's <span class="bold">broken</span>.</p>
		<p>
			Nutrition is incredibly complex, controversial, and polarizing. Online discussions devolve into pointless arguments. Experience and fact are confused. In some cases, information that is simply wrong is touted as truth. 
		</p>
			
		<p>
			But, Nutrition misinformation and miscommunication are not only bad, but also dangerous.
		</p>

		<p class="bold">
		So we started to think... and we wondered
		</p>

		<p>
		What if you could easily read and join in on the discussion about nutrition?
		What if there was a community of vetted experts like PhDs and dietitians?
		What if you could read and learn about nutrition in a feed with a simple and beautiful interface?
		</p>

		<p class="bold">
		We're excited to bring you Nutriosity, coming very soon...
		</p>


	</div>
	
{% endblock %}