<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>

	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" 
          href="{% static 'mainapp/images/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/about.css' %}">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'mainapp/js/helper.js' %}"></script>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-26640416-2', 'auto');
		ga('send', 'pageview');
	</script>

	{% block head %}{% endblock %}
</head>

<body>
	<div class="header">
		<div class="right-header-container">
			<a class="logo" href="/">Nutriosity</a>
		</div>
	</div>
	<div class="alert-bar red" style="display: none;">
		Great, stay tuned for updates - we're excited to launch soon!
	</div>
	<div class="content">
		<div id="about-menu">
			<a href="/about" id="about-nav" class="about-menu-item">About</a>
			<a href="/mission" id="mission-nav" class="about-menu-item">Mission</a>
			<a href="/experts" id="experts-nav" class="about-menu-item">Experts</a>
			<a href="/faq" id="faq-nav" class="about-menu-item">FAQ</a>
		</div>
		<div id="back-bar">
			<div id="back-button" style="display:none;">
				<img src="{% static 'mainapp/images/back-arrow.png' %}">
				Back to <span class="back-to-page bold">Experts</span>
			</div>
		</div>
		{% block content %}{% endblock %}
	</div>
	
</body>
{% block afterscript %}{% endblock %}
</html>