<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/about.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/app.css' %}">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'mainapp/js/helper.js' %}"></script>

	{% block head %}{% endblock %}
</head>

<body {% block bodyclass %}{% endblock %}>
	<div class="header">
		<div class="right-header-container">
			<a class="logo" href="/feed/">Nutriosity</a>
			
			{% if user.is_authenticated %}
			<div class="wrapper" style="display:block;">
				<div class="right-header logged-in">
					{% if my_is_superuser %}
					<div class="nav-item"><a href="/ask/">Ask</a></div>
					{% else %}
					{% endif %}
					<!-- <div class="nav-item"><a href="/feed/">Home</a></div> -->
					<div class="nav-item"><a href="/about/">About</a></div>
					<div class="nav-item account-item">
						<!-- <img class="dropdown-triangle" src="{% static 'mainapp/images/dropdown-triangle.png' %}"> -->
						
						<div class="account-item-hover">
							<img class="account-image" src="{% static 'mainapp/images/profile_pictures/' %}{{ my_profile_picture }}">
							<span class="account-name">{{first_name}}</span>
						</div>
						<div class="account-dropdown" style="display: none;">
							<div class="dropdown-menu">
								<a href="/profile/{{ my_user_profile_pk }}/" class="dropdown-item">Profile</a>
								<a href="#" class="dropdown-item">My Account</a>
								<div class="dropdown-break"></div>
								<a href="#" class="dropdown-item logout-item">Log Out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<div class="wrapper" style="display:block;">
				<div class="right-header not-logged-in" >
<!-- 					<div class="nav-item"><a href="/sign_up">Sign Up</a></div>
 -->					<div class="nav-item"><a href="/about">About</a></div>
					<div class="nav-item login-button"><a href="/sign_in/">Sign In</a></div>
				</div>	
			</div>
			{% endif %}
		</div>
	</div>
<!-- 	<div class="alert-bar green" style="display: block;">
		Welcome to Nutriosity!
	</div> -->

	<div class="content">
		{% block content %}{% endblock %}
	</div>

	<div class="login-lightbox" style="display:none;">
		<span class="close-lightbox">Close</span>
		<!-- <span class="login-lightbox-text">Discuss</span> -->
		<span class="login-logo">Nutriosity</span>
		<form class="lightbox-login-form">
			<input class="login-text-field" type="text" name="emailaddress" placeholder="Email"><br><br>
			<input class="login-text-field" type="text" name="password" placeholder="Password"><br><br>
			<button class="login-submit-button">Log In</button>
		</form>
	</div>
	<div class="shadow-overlay" style="display:none;">
	</div>
</body>
<script type="text/javascript">
	// $('.login-button').click(function() {
	// 	$('.login-lightbox').show();
	// 	$('.shadow-overlay').show();
	// 	$('body').addClass('noscroll');
	// });

	$('.close-lightbox').click(function() {
		$('.login-lightbox').hide();
		$('.shadow-overlay').hide();
		$('body').removeClass('noscroll');
	});

	$('.shadow-overlay').click(function() {
		$('.login-lightbox').hide();
		$('.shadow-overlay').hide();
		$('body').removeClass('noscroll');
	});

	$('.nav-item.account-item').click(function(event) {
		if($('.account-dropdown').is(':visible')) {
			$('.account-dropdown').hide();
		}
		else {
			$('.account-dropdown').show();
			event.stopPropagation();
		}
		
	});

	$('body').click(function() {
		if($('.account-dropdown').is(':visible')) {
			$('.account-dropdown').hide();
		}
	});

	/* Logout clicked */
	$('.logout-item').click(function() {
		HELPER.post("/api/log_out/",{}, function() {
			location.reload();
		}, function() {
			/* Should not reach here */
		});

	});

</script>
{% block afterscript %}{% endblock %}
</html>