<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>

	{% load staticfiles %}
	<link rel="shortcut icon" type="image/png" 
          href="{% static 'mainapp/images/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/about.css' %}">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'mainapp/js/helper.js' %}"></script>

	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-26640416-2', 'auto');
	  ga('send', 'pageview');

	</script>

	{% block head %}{% endblock %}
</head>

<body>
	<div class="n-header">
		<div class="right-header-container">
			<a class="logo" href="/">Nutriosity</a>
			<div class="n-wrapper" style="display:block;">
				<div class="right-header">
					{% if user.is_authenticated %}
					<div class="n-nav-item"><a href="/feed/">Home</a></div>
					{% else %}
					<div class="n-nav-item"><a href="/sign_up/">Sign Up</a></div>
					<!-- <div class="n-nav-item"><a href="/sign_in/">Sign In</a></div> -->
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="alert-bar red" style="display: none;">
		Great, stay tuned for updates - we're excited to launch soon!
	</div>
	<div class="content">
		<div id="about-menu">
			<a href="/about" id="about-nav" class="about-menu-item">About</a>
			<a href="/mission" id="mission-nav" class="about-menu-item">Mission</a>
			<a href="/experts" id="experts-nav" class="about-menu-item">Experts</a>
			<a href="/faq" id="faq-nav" class="about-menu-item">FAQ</a>
		</div>
		<div id="back-bar">
			<div id="back-button" style="display:none;">
				<img src="{% static 'mainapp/images/back-arrow.png' %}">
				Back
			</div>
		</div>
		{% block content %}{% endblock %}
	</div>
	<div class="footer">
		<a class="blue-link" href="/terms/">Terms of Service</a> | <a class="blue-link" href="/privacy/">Privacy Policy</a> | Copyright &copy; 2014 Nutriosity. All rights reserved.<br>
		Nutriosity does not provide medical or nutrition advice, diagnosis, or treatment. <a href="/disclaimer/" class="blue-link">See additional information.</a>
	</div>

	<!-- Fixed stuff -->
	<div class="shadow-overlay" style="display:none;">
	</div>
	<div class="expert-profile-lightbox" style="display:none;">
		<span class="close-expert-lightbox">Close</span>
		<div class="left-detail-panel">
				<img src="{% static 'mainapp/images/bart-de-jonghe.png' %}">
				<a class="website">
					<img src="{% static 'mainapp/images/blue_link.png' %}">
					<div class="website-text">Website</div>
				</a>
			</div><div class="right-detail-panel">
				<div class="name-line">
					<span class="name">Bart de Jonghe,</span>
					<span class="accreditations">PhD, MS</span>
					<img src="{% static 'mainapp/images/expert_badge.png' %}">
				</div>
				<div class="position-line">
					<span class="position">Associate Professor of Nutrition</span>
					<span class="organization">University of Pennsylvania</span>
				</div>
				<div class="expertise-areas-line">
<!-- 					<span class="expertise">Obesity</span> 
					<span class="expertise">Energy Balance</span> 
					<span class="expertise">Food Addiction</span> -->
				</div>
				<div class="description-paragraph-line">
					<p class="description">
						Dr. De Jonghe received his Ph.D. in Nutritional Sciences from the Pennsylvania State University in 2006, after which he entered a two-year Postdoctoral Fellowship in Neurophysiology at the Monell Chemical Senses Center to study nausea, vomiting and malaise. In 2008, Dr. De Jonghe began postdoctoral work in the Department of Animal Biology at the Penn School of Veterinary Medicine, examining the etiology and development of obesity as a Principal Investigator on a Postdoctoral Fellowship Grant from the American Heart Association.

					</p>
				</div>
				<br>
				<a class="go-to-profile-item" href="#">
					<div class="center-wrapper">
						<span>Go to profile</span>
						<img src="{% static 'mainapp/images/blue-chevron.png' %}">
					</div>
				</a>
				
			</div>
			
	</div>
	
</body>
{% block afterscript %}{% endblock %}
</html>