body {
	font-family: OpenSans;
	background-color: #F9F9F9;
	padding-bottom: 40px;
	/*background-image: url('images/stardust_@2X.png')*/
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Alert bar */
.alert-bar {
	text-align: center;
	position: fixed;
	background-color: white;
	margin: 0 auto;
	top: 20px;
	width: 800px;
	padding: 5px 60px 5px 60px;
	border-radius: 4px;
	font-size: 20px;
	left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}
.green {
	border: 2px solid #d6e9c6;
	background-color: #dff0d8;
	color: #468847;
}

.red {
	color: #b94a48;
	background-color: #f2dede;
	border: 2px solid #eed3d7;
}


/* LOGIN */
.login-logo {
	font-family: OpenSans-Bold;
	font-size: 48px;
	color: #34A2B3;
}

.login-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .5;
	z-index: 3;
}

.login-lightbox {
	position: absolute;
	text-align: center;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	background-color: white;
	padding-bottom: 50px;
	z-index: 4;

	top: 40%;
	transform: translate(0, -50%);

	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}

.login-lightbox-text {
	padding-top: 10px;
	display: block;
	text-align: center;
	font-size: 48px;
	color: #254246;
}

.close-lightbox {
	display: block;
	text-align: right;
	margin-right: 10px;
	margin-top: 6px;
	margin-bottom: 30px;
	font-size: 12px;
	color: #254246;

}
.close-lightbox:hover {
	cursor: pointer;
}

.lightbox-login-form {
	padding-top: 30px;
	text-align: center;
}

.login-text-field {
	height:40px; 
	width: 350px;
	display: inline-block;
	font-size: 18px;
	padding-left: 15px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;
}

.login-text-field:focus {
    outline-width: 0;
}

.login-submit-button {
	width:120px;
	color: white;
	height: 42px;
	background-color: #34A2B3;
	text-align: center;
	border: #D4D4D4;
	border-style: solid;
	border-width: 0px;
	font-size: 18px;
	outline-width: 0;
	font-family: OpenSans-Light;
}

.login-submit-button:hover {
    cursor: pointer;
    background-color: #66ACB7;
}



/* HEADER CSS */
.header {
	background-color: #34A2B3;
	height: 60px;
	width: 100%;
	position: relative;
	z-index: 2;
}

.header > .right-header-container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 100%;
}

.wrapper {
	position: absolute;
	width: 900px;
}

.right-header-container > a.logo {
	color: white;
	text-decoration: none;
	font-size: 32px;
	font-family: OpenSans-Bold;
	
	position: absolute;               
	top: 50%;                         
	transform: translateY(-50%);
}


a.logo:hover {
	/* Something should happen */
	color: #D6F2F6;
}

.wrapper > .right-header {
	/*margin-left: 540px;*/
	position: absolute;
	right: 0;
	margin-top: 12px;
	/*transform: translate(0, -50%);*/
}

.right-header > .nav-item {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px 10px 5px 10px;
	border-radius: 8px;
	vertical-align: middle;
}

.right-header > .nav-item:hover,  .right-header > .nav-item.selected{
	background-color: #7ECFDC;
	cursor: pointer;
}

.nav-item > a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

.nav-item.account-item:hover {
	background-color: transparent;
}

/* ACCOUNT HEADER */
.account-item {
	margin-top: 5px;
}

.account-item > .dropdown-triangle {
	display: inline-block;
	vertical-align: middle;
}

.account-item > .account-image {
	height: 30px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
}


.account-item > .account-name {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size:14px;
	/*display: none;*/
}

.account-item > .account-dropdown {
	background-color: white;
	width: 150px;
	position: absolute;
	top: 45px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 9999;
	margin-left: 0;

	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}

.account-dropdown > .dropdown-menu {

}

.dropdown-menu > .dropdown-item {
	display: block;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	color: #325055;
}

.dropdown-menu > .dropdown-item:hover {
	background-color: #C8CFD1;
}

/* PAGE STUFF */
.content {
	text-align: center;
	z-index: 1;
}

#back-bar {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

/* ABOUT MENU */
#back-button {
	font-size: 20px;
	color: #34A2B3;
	position: relative;
	margin-top:15px;
}

#back-button:hover {
	cursor: pointer;
	opacity: .6;
}

#back-button > img {
	width: 21px;
	height: 18px;
}



#about-menu {
	margin-top: 25px;
	display: inline-block;
}

#about-menu .about-menu-item.selected {
	color: #2C4E75;
}

#about-menu .about-menu-item {
	padding-left: 40px;
	padding-right: 40px;
	color: #9EA4AD;
	text-decoration: none;
	font-size: 20px;
	font-family: OpenSans-Semibold;
}

#about-menu .about-menu-item:hover {
	color: #2C4E75;
}

.content-container {
	margin-top: 20px;
	/*height: 100%;*/
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	background-color:white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}

.content-container > p {
	width: 705px;
	display: inline-block;
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ABOUT CONTENT */
.content-container > .main-text {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	color: #125660;
	width: 812px;
	font-size: 42px;
	font-family: OpenSans;
}

.bold {
	font-family: OpenSans-Bold;
}

.italics {
	font-style: italic;
}

.text-link {
	color: #34ABBD;
	font-family: OpenSans-Bold;
	text-decoration: none;
}

.text-link:hover {
	opacity: .5;
}

/* FORM STYLING */
#interest-sign-up {
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 40px;
}

.large-text-field {
	height:40px; 
	width: 600px;
	display: inline-block;
	font-size: 18px;
	padding-left: 15px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
}

.large-text-field:focus {
    outline-width: 0;
}

.large-submit-button {
	width:120px;
	color: white;
	display: inline-block;
	height: 40px;
	background-color: #34A2B3;
	text-align: center;
	vertical-align: top;
	border: #D4D4D4;
	border-style: solid;
	border-width: 0px;
	font-size: 18px;
	outline-width: 0;
	font-family: OpenSans-Light;
}

.large-submit-button:hover {
    cursor: pointer;
    background-color: #66ACB7;
}

/* EXPERT CSS STARTS HERE */
#experts-introduction {

}

#experts-introduction > .main-text {
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 500px;
	font-size: 42px;
	font-family: OpenSans;
}

#experts-introduction > .experts-blurb {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 700px;
	font-size: 16px;
	font-family: OpenSans;
	text-align: left;
}

#experts-introduction > .seek-experts-blurb {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 700px;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	text-align: left;
}

#experts-panel {
	margin-top: 40px;
	padding-bottom: 0px;
	margin-bottom: 80px;
}

#experts-panel > .meet-experts-text {
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 500px;
	font-size: 42px;
	font-family: OpenSans;
}

#experts-panel > .experts-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

#experts-panel > .experts-row > .expert-item {
	display: inline-block;
}

.expert-item > img {
	height: 80px;
	width: 80px;
	vertical-align: middle;
	margin-left: 8px;
	margin-right: 8px;
}

.expert-item > .expert-information {
	display: inline-block;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	padding-left: 8px;
}

.expert-information > .name-designiation-text {
	display: block;
	font-family: OpenSans-Semibold;
	width: 160px;
}

.expert-information > .position-text {
	display: block;
	width: 160px;
}
.expert-information > .affiliation-text {
	display: block;
	width: 160px;
}



/* FAQ */
.faq-item {
	text-align: left;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 10px;
}

.faq-question {
	font-family: OpenSans-Semibold;
}

.faq-answer {
	margin-top: 10px;
}

/* FEED */
.filter-selector {
	margin-top: 20px;
	text-align: left;
	width: 887px;
	margin-left: auto;
	margin-right: auto;
}

.filter-type.selected {
	font-family: OpenSans-Bold;
}

.filter-type:hover {
	text-decoration: underline;
}

.filter-type {
	padding-left: 0px;
	padding-right: 30px;
	font-size: 18px;
	cursor: pointer;
}

.content-feed {
	margin-top: 20px;
	width: 887px;
	margin-left: auto;
	margin-right: auto;
}

.feed-item {
	width: 887px;
	background-color: #EBEBEB;
	height: 65px;
	display: inline-block;
	position: relative;
	margin-bottom:10px;
}

.feed-item:hover {
	background-color: #DCE0E0;
	cursor: pointer;
}

.feed-item > .upvote-item {
	width: 60px;
	display: inline-block;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.feed-item > .upvote-item:hover {
	opacity: .5;
	cursor: pointer;
}

.feed-item > .upvote-item > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.feed-item > .upvote-item > .vote-count {
	color: #A2A2A2;
}

.feed-item > .question-text {
	width: 650px;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	left: 60px;
	color: #565656;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.feed-item > .experts-pane {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
}

.feed-item > .experts-pane > img {
	display: inline-block;
	height: 35px;
	width: 35px;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

.feed-item > .experts-pane > img:hover {
	opacity: .7;
}

/* Sign up styles */
.white-content-box {
	width: 900px;
	margin: 20px auto;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: white;
}

.white-content-box > .signup-information {
	width: 85%;
	margin: 0 auto;
}

.large-title-text {
	color: #125660;
	font-size: 48px;
}

.signup-text {
	text-align: left;
	color: #125660;
	width: 700px;
	margin: 0 auto;
}

.content-container > .signup-form {
	width: 512px;
	margin: 40px auto;
}	

.half-text-field {
	display: inline-block;
	width: 236px;

	height:34px; 
	font-size: 16px;
	padding-left: 12px;
	background-color: #F0F0F0;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;
	margin-left:5px;
	margin-right:5px;

	margin-bottom: 15px;
}

.full-text-field {
	display: inline-block;
	width: 487px;
	margin: 0 auto;

	height:32px; 
	font-size: 16px;
	padding-left: 12px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;

	margin-bottom: 15px;
}

.full-text-area {
	display: inline-block;
	width: 487px;
	margin: 0 auto;
	resize: none;

	height:100px; 
	font-size: 16px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 10px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;

	margin-bottom: 15px;
}

.half-text-field:focus, .full-text-field:focus, .full-text-area:focus {
    outline-width: 0;
}

.twitter-sign-in {
	margin-top: 50px;
	padding-bottom: 30px;
	display: block;
}

.twitter-sign-in:hover {
	opacity: .6;
}

/* GLOBALS */
.bold {
	font-family: OpenSans-Bold;
}

.semibold {
	font-family: OpenSans-Semibold;
}


/* EXPERT PROFILE */
.left-profile-panel {
	vertical-align: top;
	display: inline-block;
	width: 210px;
	text-align: center;
	margin-right: 60px;
}

.right-profile-panel {
	vertical-align: top;	
	display: inline-block;
	width: 550px;
	text-align: left;
}

.left-profile-panel > .follow-button {
	margin-left: auto;
	margin-right: auto;
	background-color: #34A2B3;
	color: white;
	width: 210px;
	height: 38px;
	font-size: 20px;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.left-profile-panel > .follow-button:hover {
	opacity: .8;
}


.left-profile-panel > .follow-button:hover {
	cursor: pointer;
}

.primary-information {
	display: block;
}

.secondary-information {
	margin-top: 10px;
	font-size: 18px;
}

.expert-picture {
	width:210px;
	height:210px;
}

.expert-badge {
	width: 92px;
	height: 30px;
	margin-left: 20px;
}

.expert-name {
	font-size: 30px;
}

.expert-summary {
	text-align: left;
	font-size: 16px;
}

.areas-expertise-label {
	font-weight: bold;
	display: block;
}

.count-section {
	margin-bottom: 15px;
}

.count-item {
	display: inline-block;
	color: #588F98;
	margin-left: 10px;
	margin-right: 10px;
}

.count-item:hover {
	opacity: .6;
	cursor: pointer;
}

.count-item > .number-count {
	font-size: 32px;
	display: block;
	font-weight: bold;
}

/* FONTS */
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: OpenSans;
	src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: OpenSans-Light;
	src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(fonts/OpenSans-ExtraBold.ttf);
}



