body {
	font-family: OpenSans !important;
	background-color: #F9F9F9;
	padding-bottom: 40px;
	position: relative;
	min-height: 100%;
	/*min-height: 8000px;*/
}

html {
	height: 100%;
}

body.noscroll {
	overflow: hidden;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Alert bar */
.alert-bar {
	text-align: center;
	position: fixed;
	background-color: white;
	margin: 0 auto;
	top: 20px;
	/*width: 800px;*/
	padding: 5px 100px 5px 100px;
	border-radius: 4px;
	font-size: 20px;
	left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 3;
}
.green {
	border: 2px solid #d6e9c6;
	background-color: #dff0d8;
	color: #468847;
}

.red {
	color: #b94a48;
	background-color: #f2dede;
	border: 2px solid #eed3d7;
}


/* LOGIN */
.login-logo {
	font-family: OpenSans-Bold;
	font-size: 48px;
	color: #34A2B3;
}

.shadow-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .5;
	z-index: 3;
}

.login-lightbox {
	position: absolute;
	text-align: center;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	background-color: white;
	padding-bottom: 50px;
	z-index: 4;

	top: 40%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);

	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	border: 1px solid #056473;
	box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
}

.login-lightbox-text {
	padding-top: 10px;
	display: block;
	text-align: center;
	font-size: 48px;
	color: #254246;
}

.close-lightbox {
	display: block;
	text-align: right;
	margin-right: 10px;
	margin-top: 6px;
	margin-bottom: 20px;
	font-size: 12px;
	color: #254246;
}

.close-lightbox:hover {
	cursor: pointer;
}

.lightbox-login-form {
	padding-top: 30px;
	text-align: center;
}

.login-text-field {
	height:40px; 
	width: 350px;
	display: inline-block;
	font-size: 18px;
	padding-left: 15px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;
}

.login-text-field:focus {
    outline-width: 0;
}

.login-submit-button {
	width:120px;
	color: white;
	height: 42px;
	background-color: #34A2B3;
	text-align: center;
	border: #D4D4D4;
	border-style: solid;
	border-width: 0px;
	font-size: 18px;
	outline-width: 0;
	font-family: OpenSans-Light;
}

.login-submit-button:hover {
    cursor: pointer;
    background-color: #66ACB7;
}



/* HEADER CSS */
.n-header {
	background-color: #34A2B3;
	height: 60px;
	width: 100%;
	position: relative;
	z-index: 2;
}

.n-header > .right-header-container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 100%;
}

.n-wrapper {
	position: relative;
	width: 900px;
	height: 60px;
	z-index: 0;
}

.right-header-container > a.logo {
	color: white;
	text-decoration: none;
	font-size: 32px;
	font-family: OpenSans-Bold;
	
	position: absolute;               
	top: 50%;                         
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

a.logo {
	z-index: 2;
}

a.logo:hover {
	/* Something should happen */
	color: #D6F2F6;
}

.n-wrapper > .right-header {
	position: absolute;
	right: 0;
	top: 50%;                         
	transform: translateY(-50%);
}

.right-header > .n-nav-item {
	display: inline-block;
	margin-left: 15px;
	margin-right: 0px;
	padding: 5px 10px 5px 10px;
	border-radius: 8px;
	vertical-align: middle;
}

/*.right-header > .account-item:hover > .account-name,  .right-header > .n-nav-item:hover > .account-image{
	opacity: .6;
	cursor: pointer;
}*/

.right-header > .account-item > .account-item-hover:hover {
	opacity: .6;
	cursor: pointer;
}

.right-header > .n-nav-item:hover > a {
	opacity: .6;
	cursor: pointer;
	text-decoration: none;
}

/*[class="n-nav-item"]:hover {
	opacity: .6;
	cursor: pointer;
}*/

.n-nav-item > a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

/*.n-nav-item.account-item:hover {
	background-color: transparent;
}*/

/* ACCOUNT HEADER */
.account-item {
	/*margin-top: 5px;*/
}

.account-item > .dropdown-triangle {
	display: inline-block;
	vertical-align: middle;
}

.account-item-hover > .account-image {
	border-radius: 50%;
	height: 25px;
	width: 25px;
	display: inline-block;
	vertical-align: middle;
}


.account-item-hover > .account-name {
	color: white;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	font-size:14px;
	/*display: none;*/
}

.account-item > .n-account-dropdown {
	background-color: white;
	width: 150px;
	position: absolute;
	top: 45px;
	border-radius: 5px;
	border: 1px solid #979797;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 9999;
	margin-left: 0;
	opacity: 1;

	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}

.n-account-dropdown > .n-dropdown-menu {

}

.n-dropdown-menu > .n-dropdown-item {
	display: block;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	color: #325055;
}

.n-dropdown-menu > .n-dropdown-item:hover {
	background-color: #C8CFD1;
}

/* PAGE STUFF */
.content {
	text-align: center;
	z-index: 1;
}

#back-bar {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

/* ABOUT MENU */
#back-button {
	font-size: 20px;
	color: #34A2B3;
	position: relative;
	margin-top:15px;
}

#back-button:hover {
	cursor: pointer;
	opacity: .6;
}

#back-button > img {
	width: 21px;
	height: 18px;
}



#about-menu {
	margin-top: 25px;
	display: inline-block;
}

#about-menu .about-menu-item.selected {
	color: #2C4E75;
}

#about-menu .about-menu-item {
	padding-left: 40px;
	padding-right: 40px;
	color: #9EA4AD;
	text-decoration: none;
	font-size: 20px;
	font-family: OpenSans-Semibold;
}

#about-menu .about-menu-item:hover {
	color: #2C4E75;
}

.content-container {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	background-color:white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 40px;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
	position: relative;
}

.content-container > p {
	width: 705px;
	display: inline-block;
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ABOUT CONTENT */
.content-container > .main-text {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	color: #125660;
	width: 812px;
	font-size: 42px;
	font-family: OpenSans;
}

.content-container > .click-more-text {
	display: block;
	margin: 10px auto 0 auto;
	color: black;
	font-size: 18px;
}

.bold {
	font-family: OpenSans-Bold;
}

.italics {
	font-style: italic;
}

.text-link {
	color: #34ABBD;
	font-family: OpenSans-Bold;
	text-decoration: none;
}

.text-link:hover {
	opacity: .5;
	text-decoration: none;
}

.error-text-link {
	color: #DC001B;
	font-family: OpenSans-Bold;
	text-decoration: none;
}

.error-text-link:hover {
	opacity: .5;
	color: #DC001B;
	text-decoration: none;
}



/* FORM STYLING */
#interest-sign-up {
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 40px;
}

.large-text-field {
	height:40px; 
	width: 600px;
	display: inline-block;
	font-size: 18px;
	padding-left: 15px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
}

.large-text-field:focus {
    outline-width: 0;
}

.large-submit-button {
	width:120px;
	color: white;
	display: inline-block;
	height: 40px;
	background-color: #34A2B3;
	text-align: center;
	vertical-align: top;
	border: #D4D4D4;
	border-style: solid;
	border-width: 0px;
	font-size: 18px;
	outline-width: 0;
	font-family: OpenSans-Light;
}

.large-submit-button:hover {
    cursor: pointer;
    background-color: #66ACB7;
}

/* EXPERT CSS STARTS HERE */
#experts-introduction {
	padding-bottom: 0px;
	padding-top: 0px;
	/*position: absolute;*/
	/*left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);*/
}

.expert-detail {
	position: absolute;
	height: 256px;
}

.main-text {
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 500px;
	font-size: 42px;
	font-family: OpenSans;
}

#experts-introduction > .experts-blurb {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 700px;
	font-size: 24px;
	font-family: OpenSans;
	text-align: left;
}

#experts-introduction > .seek-experts-blurb {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 700px;
	font-size: 16px;
	font-family: OpenSans-Semibold;
	text-align: left;
}

#experts-panel {
	padding: 20px 40px 0 40px;
	/*overflow: auto;*/
	/*height: 310px;*/
	/*margin-bottom: 80px;*/
}

#experts-panel > .meet-experts-text {
	margin-left: auto;
	margin-right: auto;
	color: #125660;
	width: 500px;
	font-size: 42px;
	font-family: OpenSans;
}

#experts-panel > .experts-row {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: left;
}

#experts-panel > .experts-row > .expert-item {
	display: inline-block;
}

#experts-panel > .experts-row > .be-expert-item  {
	position: relative;
	display: inline-block;
/*	width: 268px;
	height: 80px;*/
}

#experts-panel > .experts-row > .be-expert-item > .join-information {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding-left: 4px;
}

#experts-panel > .experts-row > .be-expert-item > .join-information > span {
	/*position: absolute;*/
	font-size: 18px;
	text-decoration: none;
	color: #34A2B3;
	font-family: OpenSans-Bold;
	vertical-align: middle;
}

#experts-panel > .experts-row > .be-expert-item > .join-information > img {
	height: 20px;
	vertical-align: middle;
}

#experts-panel > .experts-row > .expert-item:hover {
	opacity: .4;
	cursor: pointer;
}

#experts-panel > .experts-row > .be-expert-item:hover {
	opacity: .4;
	cursor: pointer;
}

.expert-item > img, .be-expert-item > img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 8px;
	margin-right: 8px;
}

/*.be-expert-item > img {
	border: 2px solid #CBEDF2;
}
*/
.expert-item > .expert-information {
	display: inline-block;
	font-size: 12px;
	text-align: left;
	vertical-align: middle;
	padding-left: 8px;
}

.expert-information > .name-designiation-text {
	display: block;
	font-family: OpenSans-Semibold;
	width: 160px;
}

.expert-information > .position-text {
	display: block;
	width: 160px;
}
.expert-information > .affiliation-text {
	display: block;
	width: 160px;
	font-style: italic;
}



/* FAQ */
.faq-item {
	text-align: left;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 10px;
}

.faq-question {
	font-family: OpenSans-Semibold;
	color: #125660;
}

.faq-answer {
	margin-top: 10px;
}

/* FEED */
.filter-selector {
	margin-top: 20px;
	text-align: left;
	width: 887px;
	margin-left: auto;
	margin-right: auto;
}

.filter-type.selected {
	font-family: OpenSans-Bold;
}

.filter-type:hover {
	text-decoration: underline;
}

.filter-type {
	padding-left: 0px;
	padding-right: 30px;
	font-size: 18px;
	cursor: pointer;
}

.content-feed {
	margin-top: 20px;
	width: 887px;
	margin-left: auto;
	margin-right: auto;
}

.feed-item {
	width: 887px;
	background-color: #F2F2F2;
	height: 65px;
	display: inline-block;
	position: relative;
	margin-bottom:10px;
	border: 1px solid #E3E3E3;
}

.feed-item:hover {
	/*background-color: #DCE0E0;*/
	opacity: .8;
	cursor: pointer;
}

.feed-item > .upvote-item {
	width: 60px;
	display: inline-block;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	opacity: .4;
}

.feed-item > .upvote-item:hover {
	opacity: 1;
	cursor: pointer;
}

.feed-item > .upvote-item.upvoted, .feed-item > .upvote-item:hover  {
	opacity: 1;
}


.feed-item > .upvote-item > img {
	width: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.feed-item > .upvote-item > .vote-count {
	color: #929292;
}

.feed-item > .question-text {
	width: 650px;
	display: inline-block;
	font-size: 15px;
	text-align: left;
	left: 60px;
	color: #565656;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.feed-item > .experts-pane {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.feed-item > .experts-pane > img {
	display: inline-block;
	height: 35px;
	width: 35px;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
}

.feed-item > .experts-pane > img:hover {
	/*opacity: .7;*/
}



/* GLOBALS */
.bold {
	font-family: OpenSans-Bold;
}

.semibold {
	font-family: OpenSans-Semibold;
}

/* CSS for Nutrition experts profile */

.expert-profile-lightbox > .left-detail-panel {
	display: inline-block;
	width: 25%;
	/*background-color: red;*/
	vertical-align: top;
}

.expert-profile-lightbox > .left-detail-panel > img {
	width: 160px;
	height: 160px;
	margin-top: 10px;
}

.expert-profile-lightbox > .left-detail-panel > .website {
	position: relative;
	margin-top: 30px;
	display: block;
	text-decoration: none;
}

.expert-profile-lightbox > .left-detail-panel > .website:hover {
	opacity: .5;
	cursor: pointer;
}

.expert-profile-lightbox > .left-detail-panel > .website > img {
	width: 24px;
	/*vertical-align: center;*/
	/*position: absolute;*/
	/*top:50%;
	transform: translateY(-50%);*/
	display: inline-block;
}

.expert-profile-lightbox > .left-detail-panel > .website > .website-text {
	color: #34A2B3;
	font-family: OpenSans-Semibold;
	/*position: absolute;*/
	display: inline-block;
}

.expert-profile-lightbox > .right-detail-panel {
	display: inline-block;
	width: 75%;
	vertical-align: top;
	text-align: left;
}

.expert-profile-lightbox > .right-detail-panel > .name-line {
	display: block;
}

.expert-profile-lightbox > .right-detail-panel > .name-line > .name {
	font-size: 40px;
}

.expert-profile-lightbox > .right-detail-panel > .name-line > .accreditations {
	font-size: 24px;
	padding: 0 20px 0 5px;
}

.expert-profile-lightbox > .right-detail-panel > .name-line > img {
	height: 30px;
	position: relative;
	/*padding-top: 25px;*/
	top: 6px;
}

.expert-profile-lightbox > .right-detail-panel > .position-line {
	display: block;
	font-size: 20px;
	margin-top: 5px;
}

.expert-profile-lightbox > .right-detail-panel > .position-line > .position {
	display: block;
}

.expert-profile-lightbox > .right-detail-panel > .position-line > .organization {
	display: block;
}

.expert-profile-lightbox > .right-detail-panel > .expertise-areas-line {
	display: block;
	margin-top: 15px;
}

.expert-profile-lightbox > .right-detail-panel > .expertise-areas-line:hover {
	cursor: default;
}

.expert-profile-lightbox > .right-detail-panel > .expertise-areas-line > .expertise {
	display: inline-block;
	background-color: #34A2B3;
	color: white;
	padding: 4px 10px 4px 10px;
	margin: 0 8px 6px 0;
	border-radius: 2px;
}

.expert-profile-lightbox > .right-detail-panel > .description-paragraph-line {
	display: block;
	font-size: 14px;
	padding-top: 5px;
	padding-right: 30px;
}

.expert-profile-lightbox > .right-detail-panel > .description-paragraph-line > .description {

}

.close-expert-lightbox {
	display: block;
	text-align: right;
	margin-right: 10px;
	margin-top: 6px;
	font-size: 12px;
	color: #254246;
}

.close-expert-lightbox:hover {
	cursor: pointer;
}

.expert-profile-lightbox {
	position: fixed;
	text-align: center;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	background-color: white;
	padding-bottom: 20px;
	z-index: 4;
	color: #14444B;

	top: 40%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);

	/*border: 1px solid #056473;*/
	box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
}


/* Sign Up Page */

.white-content-box {
	width: 900px;
	margin: 20px auto;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: white;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
}

.white-content-box > .signup-information {
	width: 85%;
	margin: 0 auto;
}

.large-title-text {
	color: #125660;
	font-size: 48px;
}

.signup-text {
	text-align: left;
	color: #125660;
	width: 700px;
	margin: 0 auto;
}

.content-container > .signup-form {
	width: 512px;
	margin: 40px auto;
}	

.half-text-field {
	display: inline-block;
	width: 236px;

	height:34px; 
	font-size: 16px;
	padding: 3px 12px 3px 12px;
	background-color: #F0F0F0;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;
	margin-left:5px;
	margin-right:5px;

	margin-bottom: 15px;
}

.full-text-field {
	display: inline-block;
	width: 487px;
	margin: 0 auto;

	height:32px; 
	font-size: 16px;
	padding: 5px 12px 5px 12px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;

	margin-bottom: 15px;
}

.full-text-area {
	display: inline-block;
	width: 487px;
	margin: 0 auto;
	resize: none;

	height: 100px; 
	font-size: 16px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 10px;
	background-color: #F0F0F0;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
	border: 1px solid #A4AFB1;

	margin-bottom: 15px;
}

.twitter-sign-in {
	margin-top: 50px;
	padding-bottom: 30px;
	display: block;
}

.twitter-sign-in:hover {
	opacity: .6;
}

.half-text-field:focus, .full-text-field:focus, .full-text-area:focus {
    outline-width: 0;
}

.footer {
	font-size: 11px;
	color: #8C8C8C;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;

}

.footer > .blue-link {
	color: #34ABBD;
	text-decoration: none;
}

.footer > .blue-link:hover {
	opacity: .7;
	text-decoration: underline;
}

.legal-text {
	width: 800px;
	display: inline-block;
	text-align: left;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;

}


/* FONTS */
@font-face {
    font-family: OpenSans-Bold;
	src: url('fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */
	src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
		url('fonts/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: OpenSans-Semibold;
	src: url('fonts/OpenSans-Semibold.eot'); /* IE9 Compat Modes */
	src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
		url('fonts/OpenSans-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/OpenSans-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: OpenSans;
	src: url('fonts/OpenSans.eot'); /* IE9 Compat Modes */
	src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/OpenSans.woff') format('woff'), /* Modern Browsers */
		url('fonts/OpenSans.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/OpenSans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: OpenSans-Light;
	src: url('fonts/OpenSans-Light.eot'); /* IE9 Compat Modes */
	src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
		url('fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/OpenSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: OpenSans-ExtraBold;
	src: url('fonts/OpenSans-ExtraBold.eot'); /* IE9 Compat Modes */
	src: url('fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/OpenSans-ExtraBold.woff') format('woff'), /* Modern Browsers */
		url('fonts/OpenSans-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('fonts/OpenSans-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

