body {
	font-family: OpenSans;
	background-color: #FFF;
	margin: 0;
	/*background-color: #34A2B3;*/
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* HEADER */
#landing-header {
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	/*background-color: rgba(52,162,179, .8);*/
	background-color: rgba(255,255,255,.9);
	z-index: 5;
}

#landing-header-container {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	height: 100%;
}

#landing-header-container > #logo{
	font-size: 32px;
	font-family: OpenSans-Bold;
	text-decoration: none;
	color: #34A2B3;
	/*color: white;*/
	position: absolute;               
	top: 50%;                         
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);

}

#landing-header-container > #logo:hover {
	opacity: .7;
}

#landing-header-container > #header-item{
	font-size: 16px;
	font-weight: bold;
	float: right;
	text-decoration: none;
	color: #34A2B3;
	/*color: white;*/
	margin-top: 32px;
	vertical-align: middle;
}

#landing-header-container > #header-item:hover {
	opacity: .7;
}

/* Alert bar */
.alert-bar {
	text-align: center;
	position: fixed;
	background-color: white;
	margin: 100px auto;
	width: 800px;
	padding: 5px 60px 5px 60px;
	border-radius: 4px;
	font-size: 20px;
	left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}
.green {
	border: 2px solid #d6e9c6;
	background-color: #dff0d8;
	color: #468847;
}

.red {
	color: #b94a48;
	background-color: #f2dede;
	border: 2px solid #eed3d7;
}

/* MIDDLE */
#landing-blue-section {
	/*background-color: #34A2B3;*/
	background-image: url('images/congruent_outline_blue.png');
	text-align: center;
	padding-top:120px;
	padding-bottom: 50px;
}

#landing-blue-section > #begins-text {
	font-size: 30px;
	color: white;
	display: block;
}

#landing-blue-section > #knowledge-text {
	font-weight: bold;
	font-size: 60px;
	color: white;
	display: block;
	/*margin-top: 10px;*/
}

.landing-submit-email {
	margin-top: 40px;
	height: 45px;
}

.email-text-field {
	height:45px; 
	width: 685px;
	max-width: 685px;
	display: inline-block;
	font-size: 18px;
	padding-left: 15px;
	background-color: white;
	border: 0px solid #A4AFB1;
	color: #125660;
	font-family: OpenSans-Light;
}

.email-text-field:focus {
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

.email-text-field:focus {
    outline-width: 0;
}

.large-submit-button {
	width:120px;
	color: #195E69;
	display: inline-block;
	height: 45px;
	background-color: #E3E3E3;
	text-align: center;
	vertical-align: top;
	border: #D4D4D4;
	border-style: solid;
	border-width: 0px;
	font-size: 18px;
	outline-width: 0;
	font-family: OpenSans-Light;
}

.large-submit-button:hover {
    cursor: pointer;
    background-color: #CECECE;
}

/* BOTTOM */
#landing-white-section {
	text-align: center;
	padding-bottom: 60px;
}

#about-text {
	max-width: 800px;
	display: block;
	font-size: 28px;
	color: #364143;
	margin: 25px auto;
}

#information-section {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#information-section > .feature-box {
	display: inline-block;
	width: 210px;
	top: 0;
	vertical-align: top;
	margin-left: 3px;
	margin-right: 3px;
}

.feature-box > .feature-image {
	margin-left: auto;
	margin-right: auto;
}

#hand-raise {
	height: 50px;
}

#brain {
	height: 47px;
}

#join-discussion {
	height: 43px;
}

.feature-text {
	margin: 5px auto;
	width: 200px;
	text-align: center;
	font-size: 15px;
	color: #364143;
}

.learn-more {
	margin-top: 15px;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
}

.manifesto {
/*	margin-top: 30px;
*/	font-size: 28px;
	font-weight: bold;
	display: inline-block;
}

.manifesto:hover {
	cursor: pointer;
	opacity: .5;
}

.manifesto > img {
	vertical-align: center;
	margin-left: 7px;
	margin-top: 8px;
	height: 25px;
}

.manifesto-text, .manifesto-text:visited {
	vertical-align: top;
	text-decoration: none;
	color: #E1F0F5;
}

.learn-more:hover {
	cursor: pointer;
	opacity: .5;
}

.learn-more > img {
	vertical-align: center;
	margin-left: 7px;
	margin-top: 8px;
	height: 22px;
}

.learn-more-text, .learn-more-text:visited {
	vertical-align: top;
	text-decoration: none;
	/*color: #364143;*/
	color: black;
}

.bold {
	font-family: OpenSans-Bold;
}

/* MISSION CSS */


.content-container {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	background-color:white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
}

.content-container > p {
	width: 705px;
	display: inline-block;
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* FONTS */
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: OpenSans;
	src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: OpenSans-Light;
	src: url(fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(fonts/OpenSans-ExtraBold.ttf);
}




